[Desktop Entry]
Name=Kiosque
Comment=A modern Flatpak software center
Exec=kiosque
Icon=org.kiosque.Kiosque
Terminal=false
Type=Application
Categories=Qt;KDE;System;
